* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 50px;
    background-color: #DEDEDE;
}

.wrapPokemon {
    margin: 20px;
    padding: 5px;
    min-width: 400px;
    height: auto;
    box-shadow: 2px 4px 24px -8px rgba(0,0,0,0.75);
    transition-property: transform;
    transition-duration: 0.2s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
}

.wrapPokemon:hover {
    transform: scale(1.1);
}

.cajaNombre {
    background-color: #dcdef5;
    width: 100%; 
    margin: 0px 5px;
    padding: 10px 0px;
}

.nombre {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.contenido {
    margin-top: 5px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.foto {
    width: 100%;
    background: lightcoral;
}

.id {
    font-size: 20px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.wrapDescription {
    width: 95%;
    text-align: center;
    margin-left: 5px;
}